body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
    max-width: 100%;
}
.container{
    max-width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
}

.link-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
        padding-top: 24px;
        padding-bottom: 24px;
}

.text-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-item {
}

.navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}
.navigation-link:hover{
    color: #404bbf;
}
.navigation-link:focus{
    color: #404bbf;
}
.contacts {
    font-style: normal;
    margin-left: auto;
    align-items: center;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-item {}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
}
.contacts-link:hover{
    color: #404bbf;
}
.contacts-link:focus{
    color: #404bbf;
}
/*-----------------------Section-first----------------*/
.section-first {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.page-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        max-width: 496px;
        text-align: center;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;

}

.button-service{
    display: block;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}
.container-buttom{

}
.button-service:hover{
    background-color: #404BBF;
}
.button-service:focus{
    background-color: #404BBF;
}
/*--------------------------Section-quality----------------*/

.section-quality {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-quality-list {
    display: flex;
    gap: 24px;
}

.section-quality-item {
    flex-basis: calc((100% - 72px) / 4);
    
}

.section-quality-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.section-quality-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/*-------------------------Section-team------------------*/
.section-team {
    background: #f4f4fd;
}

.team-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto 72px auto;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px)/ 4);
    border-radius: 0px 0px 4px 4px;
    
}

.team-image {
}

.team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}
.team-container{
    padding: 32px 0;

}
.team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/*------------------------------Section-portfolio----------------*/
.section-portfolio {}

.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
}

.portfolio-image {
}

.portfolio-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*---------------------------Footer-------------------*/
.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;;
    display: inline-block;
    margin-bottom: 16px;

}

.footer-logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
       
}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
}
